ion-card-header {
  text-align  : center;
}

ion-col {
  text-align  : center;
}

a.item-link {
  margin-top      : 10px;
  text-decoration : none;

  ion-icon {
    font-size     : 40px;
    padding       : 12px;
    border        : 1px solid #cecece;
    border-radius : 50%;
    background    : #3880ff;
    color         : #fff;
  }

  p {
    margin-top : 3px;
  }
}
