<!-- TODO: Split it on smaller components and add skeleton cards on loading -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>List of patients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="patientsList$ | async; let patients; else skeleton">
    <ion-item *ngFor="let item of patients"
              class="patient-item"
              [routerLink]="'details/'+item.id">

      <span class="registration-date">
        Registration {{item.registeredDate | dateToLocale}}
      </span>

      <ion-grid class="patient-and-doctor">
        <ion-row>
          <ion-col size="6">
            <label class="mute">Patient</label>
            <h6 class="item-data">{{ item.firstName + ' ' + item.lastName }}</h6>
          </ion-col>
          <ion-col size="6">
            <label class="mute">Doctor</label>
            <h6 class="item-data">{{ getDoctor(item.doctor) }}</h6>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <label class="mute">Addresses:</label>
            <ion-grid class="address" *ngFor="let address of item.addresses">
              <ion-row>
                <ion-col size="6">
                  <label class="mute">Phone</label>
                  <p>{{address.phone}}</p>
                </ion-col>
                <ion-col size="6">
                  <label class="mute">Email</label>
                  <p>{{address.email}}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <label class="mute">Address</label>
                  <p>{{address.street}}, {{address.city}}, {{address.zipcode}}
                                       , {{address.country}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
  </div>

  <ng-template #skeleton>Loading  Data...</ng-template>
</ion-content>
