<form [formGroup]="patientForm" (ngSubmit)="emitForm()">
  <ion-item>
    <ion-label position="stacked">First name *</ion-label>
    <ion-input name="firstName" id="firstName"
               type="text"
               formControlName="firstName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Last name *</ion-label>
    <ion-input name="lastName" id="lastName"
               type="text"
               formControlName="lastName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Birth date *</ion-label>
    <ion-datetime name="birthDate" id="birthDate"
                  type="date"
                  formControlName="birthDate"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">VAT <span *ngIf="patientForm.controls['vat'].invalid">*</span>
    </ion-label>
    <ion-input name="vat" id="vat"
               type="text"
               formControlName="vat"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Doctor *</ion-label>

    <ionic-selectable
        formControlName="doctor"
        [items]="doctors$ | async"
        itemValueField="id"
        itemTextField="fullName"
        [canSearch]="true"></ionic-selectable>
  </ion-item>

  <ion-item-group
      formArrayName="addresses"
      *ngFor="let address of patientForm.controls['addresses'].controls; let i = index">
    <ion-item-divider class="address-header">
      <ion-label position="stacked">{{numberToWord(i) | titlecase}} address</ion-label>
    </ion-item-divider>
    <ion-list [formGroupName]="i">

      <ion-item>
        <ion-label position="stacked">Phone number *</ion-label>
        <ion-input [name]="'phoneNumber-'+i" [id]="'phoneNumber-'+i"
                   type="phone"
                   formControlName="phoneNumber"></ion-input>

      </ion-item>

      <ion-item>
        <ion-label position="stacked">Street *</ion-label>
        <ion-input [name]="'street-'+i" [id]="'street-'+i"
                   type="text"
                   formControlName="street"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">City *</ion-label>
        <ion-input [name]="'city-'+i" [id]="'city-'+i"
                   type="text"
                   formControlName="city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Zipcode *</ion-label>
        <ion-input [name]="'zipcode-'+i" [id]="'zipcode-'+i"
                   type="number"
                   formControlName="zipcode"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Country *</ion-label>
        <ion-input [name]="'country-'+i" [id]="'country-'+i"
                   type="text"
                   formControlName="country"></ion-input>
      </ion-item>

    </ion-list>
  </ion-item-group>

  <ion-item-divider class="add-one-more-address" (click)="addOneMoreAddress()">
    <ion-fab-button  size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-label>Add one more address</ion-label>
  </ion-item-divider>


  <ion-button type="submit"
              color="primary"
              expand="full"
  class="save-btn">
    Save
  </ion-button>
</form>
